<ion-view title = "Add Passage">
  <ion-nav-bar></ion-nav-bar>
  <ion-content>
    <form ng-submit="addPassage()">
      <div class="list">
        <label class="item item-input">
          <input type="text" placeholder = "Passage Title" ng-model="passageData.title">
        </label>
        <label class="item item-input">
          <textarea placeholder="Text" ng-model="passageData.text"></textarea>
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Add Passage</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>
