<ion-view view-title = "Settings">
	<ion-nav-bar></ion-nav-bar>
	<ion-content>
		<form ng-submit="changePassage()">
		<label class="item item-input item-select">Current
			<select ng-model="data.newCurrentPassage">
				<option selected>Select a passage...</option>
				<option ng-repeat="passage in passages" value = {{passage.id}}> {{passage.title}}</option>
			</select>
		</label>
		<label class="item">
			<button class="button button-block button-positive" type="submit">Set Current Passage</button>
		</label>
	</ion-content>
</ion-view>
