/* Empty. Add your own CSS if you like */


/* Custom nav bar */
.bar {
	background-color: #12B28F;
}
.bar .title {
	/*margin: 0 0 0 0;*/
	color: white;
	font-family: 'Cinzel', serif;
	font-size: 1.6em;
}
.bar .button.back-button, .bar button.back-button {
	color: white;
}
.bar .buttons span.back-text {
	display: none; /* Don't want "Back" on back button */
}


/* Custom button syles */
.button.button-positive {
	background-color: #12B28F;
}
.button.button-positive.activated{
	background-color: #EF19FF;
}

/* Custom menu  */
ion-side-menu .item {
	color: white;
}
ion-side-menu .item-complex .item-content {
	background-color: #B28A09;
}

ion-content {
	font-family: 'Cinzel', serif;
}
.passage-body {
	margin: 6%;
}
