<ion-header>
  <ion-navbar>
    <ion-title>Today's Passages</ion-title>
  </ion-navbar>
</ion-header>

<ion-content *ngIf=passages>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col col-lg-6>
        <ion-list>
          <button ion-item *ngFor="let passage of passages" (click)="itemTapped($event, passage)">
			       {{passage.title}}
          </button>
        </ion-list>
        <aside>You're currently viewing only today's passages.
          <br/>
          <br/>
          <a href='app#/all-passages'>See all passages</a>
        </aside>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab right bottom>
    <button ion-fab color="primary" (click)="addPassage()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>