<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Passages</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item *ngFor="let passage of passages" (click)="itemTapped($event, passage)">
      <strong *ngIf = "passage.currentPassage==true">
				{{passage.title}}
				</strong>
			 <div *ngIf = "passage.currentPassage != true">
			 {{passage.title}}
			 </div>
    </button>
  </ion-list>
  <ion-fab right bottom>
    <button ion-fab color="balanced" (click)="addPassage()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
