<ion-view view-title="{{passage.title}}" cache-view="false">

	<ion-nav-bar>
		<ion-nav-back-button>
		</ion-nav-back-button>
	</ion-nav-bar>

	<ion-content class="passage-body">
	<p>{{passage.text}}</p>
	<p>Times reviewed: {{passage.reviewed}}</p>
	<p>This passage is <b ng-if="!mastered">not</b> mastered</p>
	<div class="item">
		<button class="button button-block button-positive" ng-click = "review()" type="submit">Review this Passage</button>
		<button class="button button-block button-assertive" ng-click = "showConfirm()" type="submit">Delete this Passage</button>
	</div>
	</ion-content>
	
</ion-view>
