<ion-view view-title="Game">
	<ion-nav-bar>
		<ion-nav-back-button>
		</ion-nav-back-button>
	</ion-nav-bar>
	<ion-content class="passage-body">
	<h1>{{passage.title}}</h1>
	<p>{{game.text}}</p>
		<label class="item item-input">
			<input type="text" placeholder = "What's the next word?" ng-model="data.answer">
			
		</label>
		<label class="item" ng-if="data.answer.toLowerCase() == game.correctAnswer">
          <button class="button button-block button-positive" ng-click = "nextQuestion()" type="submit" >Continue</button>
        </label>
	</ion-content>
</ion-view>
