<!--
  Generated template for the AllPassages page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>All Passages</ion-title>
  </ion-navbar>

</ion-header>


<ion-content *ngIf=sortedPassages padding>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col col-lg-6>

        <ion-list>
          <ion-list-header>
            Daily
          </ion-list-header>

          <button ion-item *ngFor="let passage of sortedPassages.daily" (click)="itemTapped($event, passage)">
			 {{passage.title}}
    </button>
        </ion-list>

        <ion-list>
          <ion-list-header>
            Every other Day
          </ion-list-header>

          <button ion-item *ngFor="let passage of sortedPassages.oddeven" (click)="itemTapped($event, passage)">
			 {{passage.title}}
    </button>
        </ion-list>

        <ion-list>
          <ion-list-header>
            Weekly
          </ion-list-header>

          <button ion-item *ngFor="let passage of sortedPassages.weekday" (click)="itemTapped($event, passage)">
			 {{passage.title}}
    </button>
        </ion-list>

        <ion-list>
          <ion-list-header>
            Monthly
          </ion-list-header>

          <button ion-item *ngFor="let passage of sortedPassages.date" (click)="itemTapped($event, passage)">
			 {{passage.title}}
    </button>
        </ion-list>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>